@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button type="button" class="btn-primary" @onclick="GetTodos">Get Todos List</button>

@code{
    private async void GetTodos()
    {
        SwaggerAuto.Services.TodoApi test = new("https://localhost:7077/api/", new HttpClient());

        var data = await test.GetAllTodosAsync();
    }
}
