@page
@model Web.Pages.Admin.FoodTypes.IndexModel
@{
    ViewData["Title"] = "Show Food Types";
}

<partial name="_Notification" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-10">
            <h2 class="text-primary text-center">Food Type List</h2>
        </div>
        <div class="col-2">
            <a asp-page="AddEdit" class="btn btn-primary float-end">
                <i class="bi bi-plus-square"></i> &nbsp;
                Add Food Type
            </a>
        </div>
    </div>
    <br />

    <table id="dtTable" class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FoodTypes)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <div class="w-25 btn-group">
                            <a asp-page="AddEdit" asp-route-id="@item.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i></a>
                            <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {
    <script src="~/js/site.js"></script>
}