@page
@model Web.Pages.Admin.MenuItems.IndexModel
@{
    ViewData["Title"] = "Show Menu Items";
}

<partial name="_Notification" />

<div class="container">
    <div class="row pt-4">
        <div class="col-9">
            <h2 class="text-primary text-center">Menu Item List</h2>
        </div>
        <div class="col-3">
            <a asp-page="UpSert" class="btn btn-primary float-end">
                <i class="bi bi-plus-square"></i> &nbsp;
                Add Menu Item
            </a>
        </div>
    </div>
    <br />

    <table id="dtTable" class="table table-bordered table-striped" style="width: 100%;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Category</th>
                <th>Food Type</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts {
    <script src="~/js/menuitem.js"></script>
}