@page "/counter"

<PageTitle>Counter</PageTitle>

<h3>Counter</h3>

<div class="d-flex flex-row">
    <div class="ps-2"><button class="btn btn-outline-primary" @onclick="IncrementCount">Click me</button></div>
    <div class="ps-2 my-auto"><span role="status">Current count: @currentCount</span></div>
</div>

<div class="d-flex flex-row">
    
    
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
