@page "/palindrome"

@using View_Data_Binding.Data
@inherits Customer

<h3>Palindrome</h3>

<div class="d-flex justify-content-center">
    <div class="w-50">
        <div class="form-group">
            <label for="input">Enter the String:</label>
            <input class="form-control" type="text" @bind="UserInput" id="input" placeholder="Enter Anything" />
        </div>
        <div class="form-group">
            <label>
                @{
                    string Show = String.Empty;
                    if (!string.IsNullOrWhiteSpace(UserInput))
                        Show = $"is {(Palindrome ? String.Empty : "Not ")}a Palindrome.";
                }
                <b>
                    The Given String: @UserInput @Show
                </b>
            </label>
        </div>
    </div>
</div>

@code {}