@page 
@model Web.Pages.Admin.FoodTypes.DeleteModel
@{
    ViewData["Title"] = "Delete Food Type";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12">
            <h2 class="text-primary text-center">Delete Category</h2>
        </div>

        <!-- Shows all the validation summary here -->
        <div asp-validation-summary="All"></div>
    </div>
    <br />

    <div class="d-flex justify-content-center">
        <div class="align-content-center" style="width: 30%;">
            <form method="post" asp-page="Create">
                <input id="txtId" hidden asp-for="FoodType.Id" />
                <div class="mb-3">
                    <label for="txtName" class="form-label" asp-for="FoodType.Name"></label>
                    <input type="text" class="form-control" id="txtName" asp-for="FoodType.Name" placeholder="Enter name" disabled>
                </div>

                <div class="d-flex justify-content-center btn-group">
                    <a class="btn btn-secondary mx-2 p-0" asp-page="Index" style="width: 150px; padding: 0.5px;">
                        <i class="bi bi-arrow-left-circle" style="font-size: 24px;"></i>
                    </a>
                    <button type="submit" class="btn btn-danger mx-2" style="width: 150px;">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Addding Client side validations with this Partial Script added -->
    <partial name="_ValidationScriptsPartial" />
}