@model QR_Builder.Models.QRCodeModel
@{
    ViewBag.Title = "Index";
}

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                @Html.TextBoxFor(model => model.QRCodeText, new { @class = "form-control", @placeholder = "Enter Text", @required = true })
                @Html.HiddenFor(model => model.QRCodeText)
            </div>
            <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>

            <div class="form-group">
                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>
        }
    </div>
</div>

