<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | CRUD App</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css" />


</head>
<body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
        @RenderBody()
    </main>
    <footer class="footer d-flex mt-auto py-3 bg-light justify-content-between font-weight-bold">
        <div class="footer-padding"><h5>MVC Customer CRUD Operation</h5></div>
        <div class="footer-padding">Created By Koushik</div>
        <div class="footer-padding">@DateTime.Now.ToShortTimeString() - @DateTime.Now.Date.ToLongDateString()</div>
    </footer>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
</body>
</html>