@page "/leapyear"

@using View_Data_Binding.Data
@inherits Customer

<h3>LeapYear</h3>

<div class="d-flex justify-content-center">
    <div class="w-50">
        <div class="form-group">
            <label for="input">Enter the String:</label>
            <input class="form-control" type="text" @bind="Number" id="input" placeholder="Enter any Year" />
        </div>
        <div class="form-group">
            <label>
                @{
                    string Show = String.Empty;
                    if (Number > 1565)
                        Show = $"{Number} is {(LeapYear ? String.Empty : "Not ")}a Leap Year.";
                }
                <b>
                    The Given Year: @Show
                </b>
            </label>
        </div>
    </div>
</div>

@code {}