@page "/"

<PageTitle>Index</PageTitle>

<h3>Many Components</h3>

<div class="row mt-3">
    <div class="col-md-4">
        <ShopList Name="Electronics"></ShopList>
    </div>
    <div class="col-md-4">
        <ShopList Name="Groccery"></ShopList>
    </div>
    <div class="col-md-4">
        <Counter></Counter>
    </div>
</div>
