@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="btn btn-primary" onclick="callLoadCors();">Load with Cors</a>
    <a class="btn btn-primary" onclick="callLoad();">Load without Cors</a>
</div>
