@page "/"

@* With Global Imports *@

@*@inject IDemo _demo
@inject IDemo _demo2*@
@inject IEnumerable<IDemo> _demos
@inject ProcessDemo _processDemo

<PageTitle>Index</PageTitle>

<h3>Dependency Injection Demo</h3>

<p>
    @foreach (var item in _demos)
    {
        <strong>Startup Time: </strong>
        @item.StartupTime.ToString("hh:mm:ss fffffff")
        <br />
    }


    @*<strong>Startup Time: </strong>@_demo.StartupTime.ToString("hh:mm:ss fffffff")
    <br />
    <strong>Startup Time 2nd: </strong>@_demo2.StartupTime.ToString("hh:mm:ss fffffff")
    <br />*@
    <strong>Days in Month: </strong>@_processDemo.GetDaysMonth()
</p>
